DATA CLEANING :
1.read_csv()
2.head()
3.tail()
4.info()
5.describe()
6.shape
7.isnull()
8.isnull().sum()
9.rename()
10.drop()
11.specific index 
12.dropna() 
13.sum()
14.mean()
15.max()
16.min()
17.fillna()
18.drop_duplicate()
19.duplicated()
20.count()
21.read_excel()
22.read_json()

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("/kaggle/input/itpm-nov1/Itpm_nov.xlsx")
df

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Candidate Full Name,Admission Date,Course Name,Domain,Skill Possessed,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,...,Graduation YOP,Post Graduation,Post Graduation Percentage,Post Graduation YOP,Current City,Candidate Status,Final MOCK,Communication Remark,Technical Remark,Resume
0,Vikas Ghadge,2024-01-07,ITPM,Python Web Development,"C,UI,Sql,DataAnalytics,Python",94.20,2018,53.60,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
1,Kumail Mehter,2024-08-14,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",NaN,2019,82.50,2021,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
2,Avantika Jadhav,2024-09-20,ITPM,Data Analytics,"C,Sql,DataAnalytics,Python,DataAnalysis,DataSt...",79.00,2015,54.00,2017,NaN,...,2023,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
3,Chaitanya Sawant,2024-08-26,ITPM,NaN,"C,UI,Sql,DataAnalytics,Python",85.80,2016,69.07,2018,69.0,...,2022,NaN,NaN,NaN,solapur,In Training,PENDING,Good,Good,View Resume
4,Nupur Pandya,NaT,ITPM,Decided,"C,C++,DataAnalytics,Python",87.60,2018,65.08,2020,NaN,...,2024,NaN,NaN,NaN,sangli,In Training,PENDING,Average,Average,View Resume
5,Kanchan Malode,2024-09-11,ITPM,Python Web Development,C,NaN,2016,7.83,2018,NaN,...,2024,CS,Above 60% OR CGPA above 6,2024.0,nasik,In Training,PENDING,Poor,Poor,View Resume
6,Divya Borse,2024-09-02,ITPM,NaN,C,84.00,2018,NaN,2020,73.0,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
7,Isha Nikam,2024-08-28,ITPM,Python Web Development,"C,C++,Sql,Python,DataStructure",NaN,2018,68.46,2020,NaN,...,2024,NaN,NaN,NaN,kolhapur,In Training,PENDING,Average,Average,View Resume
8,Yadnyesh Chaudhari,2024-09-20,ITPM,Data Analytics,C,80.00,2006,60.00,2008,NaN,...,2012,NaN,NaN,NaN,kolhapur,In Training,PENDING,PENDING,NaN,View Resume
9,Priya Kamble,2024-09-14,ITPM,NaN,"C,UI,Sql,DataAnalytics,Python",9.47,2010,8.32,2012,NaN,...,2016,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
10,Mayur Sabgar,2024-08-01,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",87.60,2018,61.38,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Average,View Resume
11,Snehal Sherikar,NaT,ITPM,NaN,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",85.00,2020,50.17,2022,NaN,...,2025,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,NaN
12,Akash Sonone,NaT,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",72.00,2016,79.69,2018,NaN,...,2022,NaN,NaN,NaN,solapur,In Training,PENDING,Average,Good,View Resume
13,Sakshi Vidhate,2024-09-06,ITPM,Python Web Development,"C,UI,Sql,DataAnalytics,Python,Django,DataAnalysis",86.40,2018,65.54,2020,NaN,...,2024,NaN,NaN,NaN,other,In Training,PENDING,PENDING,NaN,View Resume
14,Sanjay Wankhade,2024-08-30,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",66.00,2005,64.33,2008,NaN,...,2012,NaN,NaN,NaN,other,In Training,PENDING,Good,Average,View Resume
15,unesh sikarwar,2024-09-08,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,BusinessAnalysis...",89.00,2016,64.00,2018,NaN,...,2022,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
16,Saksham Agrawal,2024-09-13,ITPM,Data Analytics,C,73.40,2018,54.62,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Poor,View Resume
17,Mayur karande,2024-09-02,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",NaN,2007,71.83,2009,NaN,...,2014,NaN,NaN,NaN,other,In Training,PENDING,Average,Average,View Resume
18,Vilas Ghadge,NaT,ITPM,Not Decided,DataAnalytics,NaN,2018,86.00,2020,NaN,...,2024,NaN,NaN,NaN,jalgaon,In Training,PENDING,Good,Good,NaN
19,Kanchan Mehter,NaT,ITPM,Data Analytics,"C,DataAnalytics",NaN,2019,66.83,2021,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
20,Avani Jadhav,2024-08-16,ITPM,Data Analytics,"C,Sql,DataAnalytics,Python",NaN,2010,65.00,2014,65.0,...,2017,NaN,NaN,NaN,other,In Training,PENDING,Average,Average,View Resume
21,Chaitanya Sawant,NaT,ITPM,Business Analyst + Data Analytics,DataAnalytics,NaN,2019,97.61,2021,NaN,...,2025,NaN,NaN,NaN,pune,In Placement Tracker,PENDING,PENDING,NaN,View Resume
22,Nupur Pandya,NaT,ITPM,Data Analytics,"C,UI,DataAnalytics,Python",72.00,2018,60.15,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
23,Kanchan Malode,2024-09-20,ITPM,Business Analyst + Data Analytics,"UI,Sql,DataAnalytics,Python",85.60,2017,84.56,2021,NaN,...,2024,NaN,NaN,NaN,kolhapur,Placed,PENDING,PENDING,NaN,View Resume
24,Divya Borse,2024-09-20,ITPM,Data Analytics,"C,C++,UI,Sql,DataAnalytics,Python,DataAnalysis...",10.00,2016,80.20,2018,NaN,...,2023,OTHER,NaN,NaN,pune,In Training,PENDING,Average,Poor,View Resume
25,Isha Nikam,2024-08-22,ITPM,Python Web Development,"C,C++,Sql,Python",78.00,2018,66.46,2020,NaN,...,2024,NaN,NaN,NaN,satara,In Training,PENDING,Average,Average,View Resume
26,Yadnyesh Chaudhari,NaT,ITPM,Data Analytics,C,NaN,2008,NaN,2010,NaN,...,2014,MSC,Above 60% OR CGPA above 6,2016.0,pune,In Training,PENDING,Average,Poor,View Resume
27,Priya Kamble,NaT,ITPM,Python Web Development,"C,Sql,DataAnalytics",63.00,2019,75.00,2021,NaN,...,2025,NaN,NaN,NaN,sangli,In Training,PENDING,Poor,Poor,View Resume
28,Mayur Sabgar,2024-08-01,ITPM,Python Web Development,"Sql,DataAnalytics,Python",69.00,2018,63.87,2020,NaN,...,2024,NaN,NaN,NaN,solapur,In Training,PENDING,Good,Good,View Resume
29,Snehal Sherikar,2024-04-28,ITPM,Python Web Development,Sql,79.00,2018,54.00,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
30,Akshay Sonone,2024-07-22,ITPM,Python Web Development,"C,UI,DataAnalytics,Python",79.60,2018,66.46,2018,NaN,...,2023,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
31,Sakshi Vidhate,2024-06-21,UPGRADATION,Python Web Development,"C,Python",83.00,2016,59.08,2018,NaN,...,2022,OTHER,Above 60% OR CGPA above 6,2023.0,other,In Training,PENDING,Average,Average,View Resume
32,yogesh Wankhade,NaT,ITPM,Python Web Development,"C,Sql,DataAnalytics",63.00,2019,75.00,2021,NaN,...,2025,NaN,NaN,NaN,sangli,In Training,PENDING,Poor,Poor,View Resume
33,unesh sikarwar,2024-08-01,ITPM,Python Web Development,"Sql,DataAnalytics,Python",69.00,2018,63.87,2020,NaN,...,2024,NaN,NaN,NaN,solapur,In Training,PENDING,Good,Good,View Resume
34,Shayam Agrawal,2024-04-28,ITPM,Python Web Development,Sql,79.00,2018,54.00,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
35,Mayuri karande,2024-07-22,ITPM,Python Web Development,"C,UI,DataAnalytics,Python",79.60,2018,66.46,2018,NaN,...,2023,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
36,Chaitny Dhabekar,2024-06-21,UPGRADATION,Python Web Development,"C,Python",83.00,2016,59.08,2018,NaN,...,2022,OTHER,Above 60% OR CGPA above 6,2023.0,other,In Training,PENDING,Average,Average,View Resume

In [3]:
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Candidate Full Name,Admission Date,Course Name,Domain,Skill Possessed,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,...,Graduation YOP,Post Graduation,Post Graduation Percentage,Post Graduation YOP,Current City,Candidate Status,Final MOCK,Communication Remark,Technical Remark,Resume
0,Vikas Ghadge,2024-01-07,ITPM,Python Web Development,"C,UI,Sql,DataAnalytics,Python",94.2,2018,53.60,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
1,Kumail Mehter,2024-08-14,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",NaN,2019,82.50,2021,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
2,Avantika Jadhav,2024-09-20,ITPM,Data Analytics,"C,Sql,DataAnalytics,Python,DataAnalysis,DataSt...",79.0,2015,54.00,2017,NaN,...,2023,NaN,NaN,NaN,pune,In Training,PENDING,Average,Average,View Resume
3,Chaitanya Sawant,2024-08-26,ITPM,NaN,"C,UI,Sql,DataAnalytics,Python",85.8,2016,69.07,2018,69.0,...,2022,NaN,NaN,NaN,solapur,In Training,PENDING,Good,Good,View Resume
4,Nupur Pandya,NaT,ITPM,Decided,"C,C++,DataAnalytics,Python",87.6,2018,65.08,2020,NaN,...,2024,NaN,NaN,NaN,sangli,In Training,PENDING,Average,Average,View Resume

In [4]:
df.tail()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Candidate Full Name,Admission Date,Course Name,Domain,Skill Possessed,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,...,Graduation YOP,Post Graduation,Post Graduation Percentage,Post Graduation YOP,Current City,Candidate Status,Final MOCK,Communication Remark,Technical Remark,Resume
32,yogesh Wankhade,NaT,ITPM,Python Web Development,"C,Sql,DataAnalytics",63.0,2019,75.00,2021,NaN,...,2025,NaN,NaN,NaN,sangli,In Training,PENDING,Poor,Poor,View Resume
33,unesh sikarwar,2024-08-01,ITPM,Python Web Development,"Sql,DataAnalytics,Python",69.0,2018,63.87,2020,NaN,...,2024,NaN,NaN,NaN,solapur,In Training,PENDING,Good,Good,View Resume
34,Shayam Agrawal,2024-04-28,ITPM,Python Web Development,Sql,79.0,2018,54.00,2020,NaN,...,2024,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
35,Mayuri karande,2024-07-22,ITPM,Python Web Development,"C,UI,DataAnalytics,Python",79.6,2018,66.46,2018,NaN,...,2023,NaN,NaN,NaN,pune,In Training,PENDING,Poor,Poor,View Resume
36,Chaitny Dhabekar,2024-06-21,UPGRADATION,Python Web Development,"C,Python",83.0,2016,59.08,2018,NaN,...,2022,OTHER,Above 60% OR CGPA above 6,2023.0,other,In Training,PENDING,Average,Average,View Resume

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Candidate Full Name         37 non-null     object
 1   Admission Date              27 non-null     datetime64[ns]
 2   Course Name                 37 non-null     object
 3   Domain                      33 non-null     object
 4   Skill Possessed             37 non-null     object
 5   10th Percentage             28 non-null     float64
 6   10th YOP                    37 non-null     int64
 7   12th Percentage             35 non-null     float64
 8   12th YOP                    37 non-null     int64
 9   Diploma Percentage          3 non-null      float64
 10  Diploma YOP                 3 non-null      float64
 11  Graduation                  37 non-null     object
 12  Graduation Percentage       37 non-null     object
 13  Graduation YOP              37 non-null     int64
 14  Post Graduation             5 non-null      object
 15  Post Graduation Percentage  4 non-null      object
 16  Post Graduation YOP         4 non-null      float64
 17  Current City                37 non-null     object
 18  Candidate Status            37 non-null     object
 19  Final MOCK                  37 non-null     object
 20  Communication Remark        37 non-null     object
 21  Technical Remark            33 non-null     object
 22  Resume                      35 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(3), object(14)
memory usage: 6.8+ KB

In [6]:
df.isnull()

,Candidate Full Name,Admission Date,Course Name,Domain,Skill Possessed,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,...,Graduation YOP,Post Graduation,Post Graduation Percentage,Post Graduation YOP,Current City,Candidate Status,Final MOCK,Communication Remark,Technical Remark,Resume
0,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
5,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,True,False,False,...,False,True,True,True,False,False,False,False,False,False
7,False,False,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,True,False
9,False,False,False,True,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
11,False,True,False,True,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,True
12,False,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
17,False,False,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
18,False,True,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,False,True
19,False,True,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
20,False,False,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
21,False,True,False,False,False,True,False,False,False,True,...,False,True,True,True,False,False,False,False,True,False
22,False,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,True,False
24,False,False,False,False,False,False,False,False,False,True,...,False,False,True,True,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
26,False,True,False,False,False,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
32,False,True,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Candidate Full Name            0
Admission Date                10
Course Name                    0
Domain                         4
Skill Possessed                0
10th Percentage                9
10th YOP                       0
12th Percentage                2
12th YOP                       0
Diploma Percentage            34
Diploma YOP                   34
Graduation                     0
Graduation Percentage          0
Graduation YOP                 0
Post Graduation               32
Post Graduation Percentage    33
Post Graduation YOP           33
Current City                   0
Candidate Status               0
Final MOCK                     0
Communication Remark           0
Technical Remark               4
Resume                         2
dtype: int64

In [8]:
df.describe()

,Admission Date,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,Diploma YOP,Graduation YOP,Post Graduation YOP
count,27,28.000000,37.000000,35.000000,37.000000,3.0,3.000000,37.000000,4.000000
mean,2024-08-04 14:13:20,74.009643,2016.027027,63.544286,2018.054054,69.0,2017.333333,2022.135135,2021.500000
min,2024-01-07 00:00:00,9.470000,2005.000000,7.830000,2008.000000,65.0,2014.000000,2012.000000,2016.000000
25%,2024-07-27 00:00:00,71.250000,2016.000000,59.080000,2018.000000,67.0,2016.000000,2022.000000,2021.250000
50%,2024-08-26 00:00:00,79.300000,2018.000000,65.000000,2020.000000,69.0,2018.000000,2024.000000,2023.000000
75%,2024-09-09 12:00:00,85.150000,2018.000000,70.450000,2020.000000,71.0,2019.000000,2024.000000,2023.250000
max,2024-09-20 00:00:00,94.200000,2020.000000,97.610000,2022.000000,73.0,2020.000000,2025.000000,2024.000000
std,NaN,19.839839,3.961527,17.395518,3.814781,4.0,3.055050,3.727988,3.696846

In [9]:
df.shape

(37, 23)

In [29]:
df.drop(columns=['Candidate Status'], inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Candidate Full Name         37 non-null     object
 1   Admission Date              27 non-null     datetime64[ns]
 2   Course Name                 37 non-null     object
 3   Domain                      33 non-null     object
 4   Skill Possessed             37 non-null     object
 5   10th Percentage             28 non-null     float64
 6   10th YOP                    37 non-null     int64
 7   12th Percentage             35 non-null     float64
 8   12th YOP                    37 non-null     int64
 9   Diploma Percentage          3 non-null      float64
 10  Diploma YOP                 3 non-null      float64
 11  Graduation                  37 non-null     object
 12  Graduation Percentage       37 non-null     object
 13  Graduation YOP              37 non-null     int64
 14  Post Graduation             5 non-null      object
 15  Post Graduation Percentage  4 non-null      object
 16  Post Graduation YOP         4 non-null      float64
 17  Current City                37 non-null     object
 18  Final MOCK                  37 non-null     object
 19  Communication Remark        37 non-null     object
 20  Technical Remark            33 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(3), object(12)
memory usage: 6.2+ KB

In [33]:
df.rename(columns ={'Technical Remark':'TR'},inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Candidate Full Name         37 non-null     object
 1   Admission Date              27 non-null     datetime64[ns]
 2   Course Name                 37 non-null     object
 3   Domain                      33 non-null     object
 4   Skill Possessed             37 non-null     object
 5   10th Percentage             28 non-null     float64
 6   10th YOP                    37 non-null     int64
 7   12th Percentage             35 non-null     float64
 8   12th YOP                    37 non-null     int64
 9   Diploma Percentage          3 non-null      float64
 10  Diploma YOP                 3 non-null      float64
 11  Graduation                  37 non-null     object
 12  Graduation Percentage       37 non-null     object
 13  Graduation YOP              37 non-null     int64
 14  Post Graduation             5 non-null      object
 15  Post Graduation Percentage  4 non-null      object
 16  Post Graduation YOP         4 non-null      float64
 17  Current City                37 non-null     object
 18  Final MOCK                  37 non-null     object
 19  Communication Remark        37 non-null     object
 20  TR                          33 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(3), object(12)
memory usage: 6.2+ KB

In [35]:
df.loc[1]

Candidate Full Name                           Kumail Mehter
Admission Date                          2024-08-14 00:00:00
Course Name                                            ITPM
Domain                                       Data Analytics
Skill Possessed               C,UI,Sql,DataAnalytics,Python
10th Percentage                                         NaN
10th YOP                                               2019
12th Percentage                                        82.5
12th YOP                                               2021
Diploma Percentage                                      NaN
Diploma YOP                                             NaN
Graduation                                    Bsc Computers
Graduation Percentage             Above 60% OR CGPA above 6
Graduation YOP                                         2024
Post Graduation                                         NaN
Post Graduation Percentage                              NaN
Post Graduation YOP                                     NaN
Current City                                           pune
Final MOCK                                          PENDING
Communication Remark                                Average
TR                                                  Average
Name: 1, dtype: object

In [36]:
df.isnull().sum()

Candidate Full Name            0
Admission Date                10
Course Name                    0
Domain                         4
Skill Possessed                0
10th Percentage                9
10th YOP                       0
12th Percentage                2
12th YOP                       0
Diploma Percentage            34
Diploma YOP                   34
Graduation                     0
Graduation Percentage          0
Graduation YOP                 0
Post Graduation               32
Post Graduation Percentage    33
Post Graduation YOP           33
Current City                   0
Final MOCK                     0
Communication Remark           0
TR                             4
dtype: int64

In [37]:
df2 = df.fillna(12)
df2.head()

,Candidate Full Name,Admission Date,Course Name,Domain,Skill Possessed,10th Percentage,10th YOP,12th Percentage,12th YOP,Diploma Percentage,...,Graduation,Graduation Percentage,Graduation YOP,Post Graduation,Post Graduation Percentage,Post Graduation YOP,Current City,Final MOCK,Communication Remark,TR
0,Vikas Ghadge,2024-01-07 00:00:00,ITPM,Python Web Development,"C,UI,Sql,DataAnalytics,Python",94.20,2018,53.60,2020,12.0,...,OTHER,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Poor,Poor
1,Kumail Mehter,2024-08-14 00:00:00,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",12.00,2019,82.50,2021,12.0,...,Bsc Computers,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Average,Average
2,Avantika Jadhav,2024-09-20 00:00:00,ITPM,Data Analytics,"C,Sql,DataAnalytics,Python,DataAnalysis,DataSt...",79.00,2015,54.00,2017,12.0,...,BE/BTech Computer Science,Above 60% OR CGPA above 6,2023,12,12,12.0,pune,PENDING,Average,Average
3,Chaitanya Sawant,2024-08-26 00:00:00,ITPM,12,"C,UI,Sql,DataAnalytics,Python",85.80,2016,69.07,2018,69.0,...,BE/BTech Electrical,Above 60% OR CGPA above 6,2022,12,12,12.0,solapur,PENDING,Good,Good
4,Nupur Pandya,12,ITPM,Decided,"C,C++,DataAnalytics,Python",87.60,2018,65.08,2020,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2024,12,12,12.0,sangli,PENDING,Average,Average
5,Kanchan Malode,2024-09-11 00:00:00,ITPM,Python Web Development,C,12.00,2016,7.83,2018,12.0,...,BE/BTech Computer Science,Above 60% OR CGPA above 6,2024,CS,Above 60% OR CGPA above 6,2024.0,nasik,PENDING,Poor,Poor
6,Divya Borse,2024-09-02 00:00:00,ITPM,12,C,84.00,2018,12.00,2020,73.0,...,BE/BTech Electrical,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Average,Average
7,Isha Nikam,2024-08-28 00:00:00,ITPM,Python Web Development,"C,C++,Sql,Python,DataStructure",12.00,2018,68.46,2020,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2024,12,12,12.0,kolhapur,PENDING,Average,Average
8,Yadnyesh Chaudhari,2024-09-20 00:00:00,ITPM,Data Analytics,C,80.00,2006,60.00,2008,12.0,...,BCS,Above 60% OR CGPA above 6,2012,12,12,12.0,kolhapur,PENDING,PENDING,12
9,Priya Kamble,2024-09-14 00:00:00,ITPM,12,"C,UI,Sql,DataAnalytics,Python",9.47,2010,8.32,2012,12.0,...,BE/BTech IT,Between 50% and 60% OR CGPA between 5 and 6,2016,12,12,12.0,pune,PENDING,Average,Average
10,Mayur Sabgar,2024-08-01 00:00:00,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",87.60,2018,61.38,2020,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Poor,Average
11,Snehal Sherikar,12,ITPM,12,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",85.00,2020,50.17,2022,12.0,...,OTHER,Above 60% OR CGPA above 6,2025,12,12,12.0,pune,PENDING,Average,Average
12,Akash Sonone,12,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",72.00,2016,79.69,2018,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2022,12,12,12.0,solapur,PENDING,Average,Good
13,Sakshi Vidhate,2024-09-06 00:00:00,ITPM,Python Web Development,"C,UI,Sql,DataAnalytics,Python,Django,DataAnalysis",86.40,2018,65.54,2020,12.0,...,BE/BTech Computer Science,Above 60% OR CGPA above 6,2024,12,12,12.0,other,PENDING,PENDING,12
14,Sanjay Wankhade,2024-08-30 00:00:00,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,DataAnalysis",66.00,2005,64.33,2008,12.0,...,OTHER,Above 60% OR CGPA above 6,2012,12,12,12.0,other,PENDING,Good,Average
15,unesh sikarwar,2024-09-08 00:00:00,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python,BusinessAnalysis...",89.00,2016,64.00,2018,12.0,...,BE/BTech Mech,Above 60% OR CGPA above 6,2022,12,12,12.0,pune,PENDING,Average,Average
16,Saksham Agrawal,2024-09-13 00:00:00,ITPM,Data Analytics,C,73.40,2018,54.62,2020,12.0,...,BE/BTech Computer Science,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Average,Poor
17,Mayur karande,2024-09-02 00:00:00,ITPM,Data Analytics,"C,UI,Sql,DataAnalytics,Python",12.00,2007,71.83,2009,12.0,...,BE/BTech Electrical,Between 50% and 60% OR CGPA between 5 and 6,2014,12,12,12.0,other,PENDING,Average,Average
18,Vilas Ghadge,12,ITPM,Not Decided,DataAnalytics,12.00,2018,86.00,2020,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2024,12,12,12.0,jalgaon,PENDING,Good,Good
19,Kanchan Mehter,12,ITPM,Data Analytics,"C,DataAnalytics",12.00,2019,66.83,2021,12.0,...,OTHER,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Average,Average
20,Avani Jadhav,2024-08-16 00:00:00,ITPM,Data Analytics,"C,Sql,DataAnalytics,Python",12.00,2010,65.00,2014,65.0,...,BE/BTech Mech,Above 60% OR CGPA above 6,2017,12,12,12.0,other,PENDING,Average,Average
21,Chaitanya Sawant,12,ITPM,Business Analyst + Data Analytics,DataAnalytics,12.00,2019,97.61,2021,12.0,...,BE/BTech IT,Above 60% OR CGPA above 6,2025,12,12,12.0,pune,PENDING,PENDING,12
22,Nupur Pandya,12,ITPM,Data Analytics,"C,UI,DataAnalytics,Python",72.00,2018,60.15,2020,12.0,...,BCS,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Average,Average
23,Kanchan Malode,2024-09-20 00:00:00,ITPM,Business Analyst + Data Analytics,"UI,Sql,DataAnalytics,Python",85.60,2017,84.56,2021,12.0,...,BE/BTech CS,Above 60% OR CGPA above 6,2024,12,12,12.0,kolhapur,PENDING,PENDING,12
24,Divya Borse,2024-09-20 00:00:00,ITPM,Data Analytics,"C,C++,UI,Sql,DataAnalytics,Python,DataAnalysis...",10.00,2016,80.20,2018,12.0,...,BE/BTech IT,Above 60% OR CGPA above 6,2023,OTHER,12,12.0,pune,PENDING,Average,Poor
25,Isha Nikam,2024-08-22 00:00:00,ITPM,Python Web Development,"C,C++,Sql,Python",78.00,2018,66.46,2020,12.0,...,BE/BTech Computer Science,Above 60% OR CGPA above 6,2024,12,12,12.0,satara,PENDING,Average,Average
26,Yadnyesh Chaudhari,12,ITPM,Data Analytics,C,12.00,2008,12.00,2010,12.0,...,Bsc Chemistry,Above 60% OR CGPA above 6,2014,MSC,Above 60% OR CGPA above 6,2016.0,pune,PENDING,Average,Poor
27,Priya Kamble,12,ITPM,Python Web Development,"C,Sql,DataAnalytics",63.00,2019,75.00,2021,12.0,...,OTHER,Above 60% OR CGPA above 6,2025,12,12,12.0,sangli,PENDING,Poor,Poor
28,Mayur Sabgar,2024-08-01 00:00:00,ITPM,Python Web Development,"Sql,DataAnalytics,Python",69.00,2018,63.87,2020,12.0,...,OTHER,Above 60% OR CGPA above 6,2024,12,12,12.0,solapur,PENDING,Good,Good
29,Snehal Sherikar,2024-04-28 00:00:00,ITPM,Python Web Development,Sql,79.00,2018,54.00,2020,12.0,...,BE/BTech ENTC,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Poor,Poor
30,Akshay Sonone,2024-07-22 00:00:00,ITPM,Python Web Development,"C,UI,DataAnalytics,Python",79.60,2018,66.46,2018,12.0,...,BCS,Above 60% OR CGPA above 6,2023,12,12,12.0,pune,PENDING,Poor,Poor
31,Sakshi Vidhate,2024-06-21 00:00:00,UPGRADATION,Python Web Development,"C,Python",83.00,2016,59.08,2018,12.0,...,BE/BTech ENTC,Above 60% OR CGPA above 6,2022,OTHER,Above 60% OR CGPA above 6,2023.0,other,PENDING,Average,Average
32,yogesh Wankhade,12,ITPM,Python Web Development,"C,Sql,DataAnalytics",63.00,2019,75.00,2021,12.0,...,OTHER,Above 60% OR CGPA above 6,2025,12,12,12.0,sangli,PENDING,Poor,Poor
33,unesh sikarwar,2024-08-01 00:00:00,ITPM,Python Web Development,"Sql,DataAnalytics,Python",69.00,2018,63.87,2020,12.0,...,OTHER,Above 60% OR CGPA above 6,2024,12,12,12.0,solapur,PENDING,Good,Good
34,Shayam Agrawal,2024-04-28 00:00:00,ITPM,Python Web Development,Sql,79.00,2018,54.00,2020,12.0,...,BE/BTech ENTC,Above 60% OR CGPA above 6,2024,12,12,12.0,pune,PENDING,Poor,Poor
35,Mayuri karande,2024-07-22 00:00:00,ITPM,Python Web Development,"C,UI,DataAnalytics,Python",79.60,2018,66.46,2018,12.0,...,BCS,Above 60% OR CGPA above 6,2023,12,12,12.0,pune,PENDING,Poor,Poor
36,Chaitny Dhabekar,2024-06-21 00:00:00,UPGRADATION,Python Web Development,"C,Python",83.00,2016,59.08,2018,12.0,...,BE/BTech ENTC,Above 60% OR CGPA above 6,2022,OTHER,Above 60% OR CGPA above 6,2023.0,other,PENDING,Average,Average

In [38]:
df2.isnull().sum()

Candidate Full Name           0
Admission Date                0
Course Name                   0
Domain                        0
Skill Possessed               0
10th Percentage               0
10th YOP                      0
12th Percentage               0
12th YOP                      0
Diploma Percentage            0
Diploma YOP                   0
Graduation                    0
Graduation Percentage         0
Graduation YOP                0
Post Graduation               0
Post Graduation Percentage    0
Post Graduation YOP           0
Current City                  0
Final MOCK                    0
Communication Remark          0
TR                            0
dtype: int64

In [42]:
df2.duplicated().sum()

0

In [47]:
df2["10th Percentage"].sum()

2180.27

In [48]:
df2["10th Percentage"].min()

9.47

In [49]:
df2["10th Percentage"].max()

94.2

In [50]:
df2["10th Percentage"].mean()

58.92621621621622

In [51]:
df2["10th Percentage"].count()

37

In [53]:
data={"Id":[1,2,3,2,5],"Name":["Afnan","Suyash","Aadesh","Suyash","Suresh"],"Marks":[21,22,23,22,25]}
df0 = pd.DataFrame(data)
df0

   Id    Name  Marks
0   1   Afnan     21
1   2  Suyash     22
2   3  Aadesh     23
3   2  Suyash     22
4   5  Suresh     25

In [55]:
df0.duplicated().sum()

1

In [57]:
df12= df0.drop_duplicates()
df12

   Id    Name  Marks
0   1   Afnan     21
1   2  Suyash     22
2   3  Aadesh     23
4   5  Suresh     25